.container {
    margin: 15%;
    max-width: 100%;
}

.input__container {
    display: flex;
    margin-bottom: 40px;
    flex-direction: row;
}



#task__input {
    margin-right: 20px;
    font-size: 24px;
    height: 70px;
    width: 100%;
    padding: 0 12px;
    border-radius: 4px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.add__button,
.donetasks__button {
    display: flex;
    align-items: center;
    max-width: 36px;

    svg {
        fill: rgb(176, 176, 176);
        stroke: rgb(176, 176, 176);
        transition: fill 0.3s ease, stroke 0.3s ease;
    }

    &:hover:not(:disabled) svg {
        fill: rgb(63, 107, 252);
        stroke: rgb(63, 107, 252);
    }

    &:disabled {
        cursor: auto;
        opacity: 0.6;
    }
}

.tasks__container {
    padding: 20px 0;
}

.task {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    transition: border 0.3s ease;
    border-bottom: 1px solid transparent;

    &--active:hover,
    &--pause:hover {
        border-color: #646cff;       
    }

    &--done {
        border-bottom-color: rgb(176, 176, 176);
    }
}

.task__timer,
.donetasks__total {
    font-size: 48px;
    color: rgb(63, 107, 252);
    font-weight: 700;
}

.task__text {
    color: white
}



.donetasks__container {
    padding-bottom: 50px;
}

.donetasks__content {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 30px;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgb(176, 176, 176);
    }
}

.donetasks__wrap {
    display: flex;
}

.donetasks__title {
    margin-right: 20px;
    font-weight: 700;
    font-size: 40px;

}

.donetasks__placeholder {
    margin-top: 30px;
}




.task-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.task-modal__content {
    background: rgb(222, 195, 195);
    color:#1f1f1f;
    padding: 24px;
    border-radius: 8px;
    max-width: 1000px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

.task-modal__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

.task-modal__tasks-list {
    margin-bottom: 20px;
}

.task-modal__task-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 15px 0;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    cursor: pointer;
    &:hover,
    &.is-selected {
        background-color:#646cff;
    }

}

.task-modal__checkbox {
    margin-right: 12px;
}

.task-modal__buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    button {
        border-radius: 12px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
            background-color: rgba(100, 108, 255, 0.1);
            opacity: 0.9;
        }

        &:disabled {
            cursor: auto;
            opacity: 0.6;
        }
    }
}

