:root {
  width: 100%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  padding: 0;
  margin: 0;
  color: rgb(176, 176, 176);
  background-color: #000000;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0; 
  max-width: 1920px;
  font-size: 24px;
  background-color: #000000;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


input {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}


p {
  margin: 0;
  padding: 0;
}


svg {
  display: block;
  width: 100%;
  height: 100%;
}




